apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-helm-dev
  namespace: argocd
  labels:
    app.kubernetes.io/name: nginx
    app.kubernetes.io/instance: helm-dev
    environment: dev
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/arramandhanu/argocd-lab.git
    targetRevision: main
    path: helm-charts/nginx
    helm:
      valueFiles:
        - values-dev.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: nginx-helm-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
